@using LoginModule.Models
@model IEnumerable<Form> 


<html>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Employee Details</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item ml-auto">

                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="table">
    <table class="table table-bordered table-responsive table-hover " cellpadding="8" cellspacing="8"  >
        <thead>
        <tr>
            <th>Name</th>
            <th>EmpId</th>
            <th>DateOfBirth</th>
            <th>FathersName</th>
            <th>MothersName</th>
            <th>address</th>
            <th>salary</th>
            <th>Fresher</th>
            <th>Role</th>
            <th>Notes</th>
        </tr>
            </thead>
        <tbody>
        @foreach(Form form in Model)
            {
                <tr>
                    <td>@form.Name</td>
                    <td>@form.EmpId</td>
                    <td>@form.DateOfBirth</td>
                    <td>@form.FathersName</td>
                    <td>@form.MothersName</td>
                    <td>@form.address</td>
                    <td>@form.salary</td>
                    <td>@form.Fresher</td>
                    <td>@form.Role</td>
                    <td>@form.Notes</td>
                </tr>
            }
            </tbody>

    </table>
        </div>
    <br/>
    <br/>
    @using (Html.BeginForm("Export", "Form" , FormMethod.Post))
            {
                <input type ="submit" value=" Export"/>
            }
</body>
</html>
